/* -- Image Slider Styles -- */

#image_slider img {
    object-fit: cover;
    width: 100%;
    max-width: unset !important;
    margin-bottom: 0 !important;
}

#image_slider {
    position: relative;
    overflow: hidden;
}

#image_slider .slider_images ul {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#image_slider .slider_images li {
    height: 100%;
    overflow: hidden;
    float: left;
    position: relative;
}

#image_slider .slider_images li:before,
#image_slider .slider_images li:after,
#image_slider .slide_caption:before {
    content: '';
    height: 100%;
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    top: 0;
    right: 24%;
    animation: grow .5s forwards;
}

#image_slider .slide_caption:before {
    right: 50%;
}

#image_slider .slider_images li:after {
    top: unset;
    bottom: 0;
    right: unset;
    left: 24%;
}

#image_slider .slider_images {
    overflow: hidden;
}

.slide_caption {
    text-align: center;
}

.slide_caption div {
    position: absolute;
    top: 40%;
    bottom: 40%;
    right: 20%;
    left: 20%;
}

.slide_caption h2,
.slide_caption a {
    font-family: 'Open Sans', sans-serif;
    font-size: 66px;
    color: #ffffff;
    animation: up 1s forwards;
    display: block;
    letter-spacing: .7px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.slide_caption a {
    font-size: 14px;
    font-weight: 700;
    background: #0038E3;
    color: #ffffff;
    border: 1px solid #0038E3;
    letter-spacing: 0;
    border-radius: 6px;
    padding: 18px 34px;
    display: inline-block;
    margin: 15px 0 0;
    top: 60%;
    animation: up .7s forwards;
}

.slide_caption a:hover {
    background: #ffffff;
    color: #222222;
    border-color: #0038E3;
}

.slider_indicator {
    font-size: 16px;
    position: absolute;
    bottom: 11%;
    left: 46.5%;
    z-index: 9;
}

.slider_indicator a {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    margin-right: 35px;
}

.slider_indicator a:last-child {
    margin: 0;
}

.slider_indicator a:hover {
    color: #ffffff;
}

.slider_indicator a:after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scale3d(0, 0, 0);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1) 0s;
}

.slider_indicator a:hover:after {
    transform: scale3d(1, 1, 1);
}

.slider_indicator a.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -7px;
    transform: scale3d(1, 1, 1);
}


/* -- Slider Square Box Styles -- */

.slide_caption span {
    height: 60px;
    width: 60px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: up 1.3s;
}

.slide_caption span.square-1 {
    left: 0;
}

.slide_caption span.square-2 {
    left: 61px;
}

.slide_caption span.square-3 {
    left: 122px;
}

.slide_caption span.square-4 {
    bottom: 61px;
}

.slide_caption span.square-5 {
    bottom: 61px;
    left: 61px;
}

.slide_caption span.square-6 {
    bottom: 122px;
    left: 61px;
}

.slide_caption span.square-7 {
    bottom: 183px;
    left: 122px;
}

.slide_caption span.square-8 {
    right: 0;
    left: unset;
}

.slide_caption span.square-9 {
    right: 61px;
    left: unset;
}

.slide_caption span.square-10 {
    bottom: 61px;
    right: 0;
    left: unset;
}

.slide_caption span.square-11 {
    bottom: 61px;
    right: 61px;
    left: unset;
}

.slide_caption span.square-12 {
    bottom: 122px;
    right: 122px;
    left: unset;
}

.slide_caption span.square-13 {
    bottom: 183px;
    right: 61px;
    left: unset;
}

.slide_caption span.square-14 {
    bottom: unset;
    left: unset;
    top: 275px;
    right: 50%;
    animation: up 1s forwards;
}

.slide_caption span.square-15 {
    height: 30px;
    width: 30px;
    bottom: unset;
    left: unset;
    top: 335px;
    right: 48.4%;
    animation: up 1s forwards;
}

.slide_caption span.square-16 {
    bottom: 122px;
    right: 0;
    left: unset;
}

.slider_images li:nth-child(3) .slide_caption span.square-2 {
    height: 30px;
    width: 30px;
    left: 60px;
    bottom: 150px
}

.slider_images li:nth-child(3) .slide_caption span.square-4 {
    bottom: 180px;
}

.slider_images li:nth-child(3) .slide_caption span.square-14,
.slider_images li:nth-child(3) .slide_caption span.square-15 {
    height: 48px;
    width: 48px;
    right: unset;
    left: 25%;
    top: 130px;
}

.slider_images li:nth-child(3) .slide_caption span.square-15 {
    left: 28%;
    top: 178px;
}

.rai_shift {}


/* -- Key Frame Animation For Line Above Image -- */

@keyframes grow {
    0% {
        height: 0px;
        opacity: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .4;
    }
    75% {
        opacity: .7;
    }
    100% {
        margin-top: -10px;
        opacity: 1;
    }
}

@keyframes square {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}