@import "dropdown.css";
@import "image-slider.css";

/* -- theme body style -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-word;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}


/* -- all basic styles -- */

#content {
    padding-bottom: 52px;
}

.home #content,
.page-template #content,
.page-template-default #content {
    padding-bottom: 0;
}

.container {
    max-width: 1200px;
}

a {
    font-weight: 700;
    color: rgba(0, 56, 227, .7);
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #fc660a;
}

p,
.entry-meta a {
    font-size: 15px;
    font-weight: 600;
    color: #999999;
    line-height: 1.5;
}

hr {
    margin: 20px 0;
}

figure,
img,
iframe {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

label {
    font-size: 14px;
    font-weight: 500;
    display: block;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #222222;
    outline: none;
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 14px 15px;
}

input[type="submit"],
.widget .tnp-field input[type="submit"] {
    font-size: 14px;
    font-weight: 700;
    background: #0038E3;
    color: #ffffff;
    height: 55px;
    width: auto;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    transition: .3s;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover,
.widget .tnp-field input[type="submit"]:hover {
    background: #fc660a;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    height: 150px;
}

select {
    padding-left: 8px;
    color: #999999;
}

blockquote {
    margin: 37px 0 44px 65px;
    padding: 0 0 0 53px;
    font-size: 16px;
    position: relative;
}

blockquote:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f10e";
    font-size: 26px;
    font-weight: 900;
    color: #0038E3;
    position: absolute;
    top: 35%;
    left: 0;
}

blockquote p {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #222222 !important;
    margin: 0 !important;
    line-height: 1.65;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}

.btn,
.sec_btn {
    font-size: 14px;
    font-weight: 700;
    background: #0038E3;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #0038E3;
    padding: 18px 34px;
    display: inline-block;
    transition: .3s;
}

.btn,
.sec_btn:hover {
    background: #ffffff;
    color: #222222;
    border-color: #ffffff;
}


/* -- heading styles -- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 20px;
    color: #222222;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 17px;
}


/* -- Heading And Paragraph Styles With Better Line Height -- */

h1.line-height,
h2.line-height h3.line-height,
h4.line-height,
h5.line-height,
h6.line-height {
    font-weight: 500;
    line-height: 2;
}

p.line-height {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.8 !important;
    margin-bottom: 20px;
}

article.post p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 20px;
}


/* -- Hover Styles -- */

.widget li:hover,
.widget li a:hover,
.blog-content .entry-title a:hover,
.entry-meta a:hover {
    color: #0038E3;
}

.widget .tagcloud a:hover {
    color: #0038E3 !important;
}


/* -- Navigation Styles -- */

.main-navigation,
.home.blog .main-navigation {
    padding: 36px 0;
    z-index: 99;
}

.home .main-navigation,
.page .main-navigation {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.main-navigation.fixed {
    position: fixed;
    background: #ffffff;
    animation: navs .9s;
    padding: 15px 0;
    width: 100%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
}

.home .main-navigation.fixed,
.page .main-navigation.fixed {
    background: rgba(0, 0, 0, .9);
}

.home .main-navigation .container {
    max-width: 1730px;
}

.main-navigation .top-navigation {
    padding: 0;
}

.site-title {
    line-height: 1;
    margin: 0;
}

.site-title a {
    font-size: 44px;
    color: #333333;
}

.home .site-title a,
.page .site-title a {
    color: #ffffff;
}

.site-title strong {
    display: inline-block;
}

.site-title span {
    font-weight: 700;
    color: #0038E3;
    display: inline-block;
}

.site-description {
    font-size: 12px;
    font-style: italic;
    color: #ffffff;
    margin: 0;
}

#navbarmenus div {
    margin: auto 0 auto auto;
}

.navbar-expand-lg .menu-item {
    margin: 0 15px;
    position: relative;
}

.navbar-expand-lg .menu-item:last-child {
    margin-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.home .navbar-expand-lg .navbar-nav .nav-link,
.page .navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333333;
    transform: scale3d(0, 0, 0);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1) 0s;
}

.home .navbar-expand-lg .navbar-nav .nav-link:after,
.page .navbar-expand-lg .navbar-nav .nav-link:after {
    background-color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:after {
    transform: scale3d(1, 1, 1);
}

.navbar-expand-lg .navbar-nav .sub-menu .nav-link:after {
    display: none;
}


/* -- Section Styles -- */

section {
    padding: 100px 0;
}

.section_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    position: relative;
    line-height: 1.5;
}

section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}


/* -- Section One Styles -- */

.section_one {
    text-align: center;
}

.section_one .section_title:before,
.section_one .section_title:after {
    content: '';
    height: 60px;
    width: 60px;
    background: #eeeeee;
    position: absolute;
    top: -25px;
    right: 50%;
    z-index: -1;
}

.section_one .section_title:after {
    height: 30px;
    width: 30px;
    top: 35px;
    right: 48%;
}

.section_one .row {
    margin-top: 72px;
}

.section_one .column {
    margin-bottom: 30px;
}

.section_one .column:last-child {
    margin-bottom: 0;
}

.section_one .content {
    padding: 0 20px;
}


/* Section Two Styles -- */

.section_two {
    background-image: url("../../assets/images/section_two_bg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 100px 0 40px;
}

.section_two .container {
    max-width: 1920px;
}

.section_two .content-wrap,
.section_two figure {
    width: 50%;
    padding: 0 15px;
    margin: auto 0;
}

.section_two .content {
    max-width: 570px;
    margin-left: auto;
}

.section_two .section_title {
    margin-bottom: 80px;
}

.section_two h4 {
    margin-bottom: 21px;
}

.section_two .column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.section_two .column:last-child {
    margin: 0;
}

.section_two i {
    width: 10%;
    font-size: 36px;
    color: #0038E3;
    padding-right: 10px;
}

.section_two .column-content {
    width: 90%;
    max-width: 450px;
    padding-left: 10px;
}

.section_two figure {
    text-align: center;
}


/* -- Section Three Styles -- */

.section_three {
    background: #0038E3;
    z-index: 9;
}

.section_three .content {
    display: flex;
    flex-wrap: wrap;
}

.section_three h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin: auto auto auto 0;
}

.section_three .sec_btn {
    color: #222222;
    background: #ffffff;
    border-color: #ffffff;
    margin: 15px 0;
}

.section_three .sec_btn:hover {
    transform: translateY(-10px);
}


/* -- Section Four Styles -- */

.section_four {
    text-align: center;
    background: #f5f5f5;
    position: relative;
    z-index: 9;
}

.section_four:before {
    content: '';
    height: 40px;
    width: 40px;
    background: #0038E3;
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    right: 50%;
    z-index: -8;
}

.section_four .row {
    margin-top: 48px;
}

.section_title span {
    font-size: 14px;
    font-weight: 700;
    color: #0038E3;
    text-transform: uppercase;
    display: block;
    margin-bottom: 32px;
}

.section_four .column {
    margin-bottom: 30px;
}

.section_four .column:last-child {
    margin-bottom: 0;
}

.section_four .content {
    background: #ffffff;
    padding: 50px 40px;
    text-align: left;
    max-width: 370px;
    margin: auto;
}

.section_four p {
    font-size: 15px;
    line-height: 1.6;
}

.section_four cite {
    font-style: normal;
    display: block;
    margin-top: 20px;
}

.section_four cite h4 {
    margin-bottom: 0;
}

.section_four cite span {
    font-size: 15px;
    font-weight: 600;
    color: #999999;
}


/* -- Blog Page Styles -- */

.blog #page,
.archive #page {
    background: #f5f5f5;
}

.page-content {
    padding: 130px 0 50px;
    text-align: center;
}

.page-content .header-title {
    font-size: 56px;
    text-transform: capitalize;
    margin: 0;
}

.blog article.post,
.archive article.post {
    background: #ffffff;
    margin-bottom: 50px;
}

.blog article.post:last-child,
.archive article.post:last-child {
    margin: 0;
}

.blog article figure,
.blog article figure img,
.archive article figure,
.archive article figure img {
    margin: 0;
}

.blog-content {
    padding: 50px 40px;
}

.blog-content .entry-title {
    font-size: 28px;
    line-height: 1.392;
}

.blog-content .entry-title a {
    color: #222222;
}

.entry-meta {
    font-family: 'Poppins', sans-serif;
    color: #999999;
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 1px solid #eeeeee;
}

.entry-meta a,
.tags-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    margin: 0;
}

.cat-links:before {
    content: "|";
    color: #999999;
    margin: 0 6px 0 10px;
}

.more-link {
    color: #999999;
}


/* -- Single Page Styles -- */

.single .site-content {
    padding: 90px 0;
}

.single .header {
    margin-bottom: 38px;
}

.single article.post .entry-title {
    font-size: 32px;
    text-align: center;
}

.single .entry-meta {
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
}

.single .entry-content {
    margin: 20px 0 38px;
    padding-bottom: 48px;
    border-bottom: 1px solid #eeeeee;
}

.tags-links {
    font-weight: 700;
}


/* -- Navigation Post Navigation Styles -- */

.post-navigation {
    margin-top: 48px;
}

.post-navigation .nav-links {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
    width: 360px;
    max-width: 48%;
    text-align: left;
}

.post-navigation .nav-next {
    margin-left: auto;
}

.post-navigation a {
    font-size: 24px;
    color: #222222;
    border: 1px solid #eeeeee;
    padding: 47px 30px 57px;
    display: flex;
}

.post-navigation .nav-next a {
    text-align: right;
}

.post-navigation a:hover {
    background: #0038E3;
    color: #ffffff;
    border-color: transparent;
}

.post-navigation a p {
    font-size: 24px;
    color: #222222;
    margin: 0;
    padding: 0 0 0 42px;
    word-break: break-word;
}

.post-navigation .nav-next p {
    padding: 0 42px 0 0;
}

.post-navigation a:hover p,
.post-navigation a:hover span {
    color: #ffffff;
}

.post-navigation a span {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #999999;
    display: block;
    margin-bottom: 15px;
}


/* -- Comment Form Styles -- */

#comments {
    font-family: 'Poppins', sans-serif;
    margin-top: 48px;
}

#comments .comments-area {
    padding: 40px 65px 40px 35px;
    border: 1px solid #eeeeee;
}

.comments-title,
#reply-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 27px;
}

.comment-author,
.date-warp {
    display: flex;
    flex-wrap: wrap;
}

.comment-author figure {
    width: 18%;
    margin: auto 0;
}

.comment-author .comment-metadata {
    width: 82%;
    padding-left: 36px;
}

#comments .comment-notes {
    font-size: 14px;
    font-weight: 500;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .comment {
    margin-top: 48px;
    padding-top: 37px;
    border-top: 1px solid #eeeeee;
}

.comment-meta img {
    margin: 0;
    border-radius: 100%;
}

.comment-meta .fn,
.comment-meta .fn a,
.bypostauthor {
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
}

.comment-meta .says {
    display: none;
}

.comment-meta .comment-metadata,
.comment-meta .comment-metadata a,
.comment-awaiting-moderation {
    font-size: 12px;
    color: #999999;
    display: inline-block;
}

.comment-metadata .comment-details {
    margin: 18px 0;
}

.comment-metadata p {
    font-size: 14px;
    font-weight: 500;
}

.comment-meta .comment-metadata a {
    font-weight: 500;
    margin-right: 12px;
}

.comment-reply-link,
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
}

.comment-reply-link:hover,
#cancel-comment-reply-link:hover {
    border-color: #ff680a;
}

#respond {
    width: 100%;
    margin: 45px 0 0;
}

#commentform .required {
    color: #dd1e26;
}

.comment-form-comment {
    margin-bottom: 26px;
}

.comment-respond p.comment-form-author,
.comment-respond p.comment-form-email {
    margin: 0 0 26px;
}

.comment-respond p.form-submit {
    margin: 32px 0 0;
}

#commentform .comment-form-cookies-consent {
    display: flex;
    margin: 32px 0;
}

#commentform .comment-form-cookies-consent input {
    width: 20px;
    margin: auto 0;
}

#commentform .comment-form-cookies-consent label {
    margin: auto 0 auto 5px;
    text-transform: none;
}

#respond #reply-title small {
    display: block;
    margin: 10px 0;
}

#cancel-comment-reply-link {
    font-weight: 700;
    color: #ff5400;
    text-transform: capitalize;
}

.comment-awaiting-moderation {
    font-style: normal;
    font-weight: 700;
    color: #ff5400;
    display: block;
    margin: 10px 0;
}


/* -- Navigation Pagination Styles -- */

.pagination,
.comment_pagination {
    margin-top: 32px;
    line-height: 2;
}

.pagination .screen-reader-text {
    display: none;
}

#comments .page-numbers,
.nav-links .page-numbers,
.page-links,
.page-links a {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 56, 227, 0.7);
    opacity: .8;
    padding: 2px;
    margin: 0 10px;
    margin-right: 10px;
    transition: unset;
}

#comments .page-numbers:first-child,
.nav-links .page-numbers:first-child {
    margin-left: 0 !important;
}

#comments .page-numbers:hover,
.nav-links .page-numbers:hover {
    border-bottom: 2px solid rgba(0, 56, 227, 0.7);
}

.nav-links .page-numbers.current,
#comments .page-numbers.current {
    padding: 5px 7px;
    background: rgba(0, 56, 227, 0.7);
    color: #ffffff;
    border: none;
}

.page-links {
    margin: 12px 0 0;
}


/* -- Page Styles -- */

.page .page-content {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page .page-content .header-title {
    margin: 0;
    color: #ffffff;
    max-width: 730px;
    word-break: break-word;
}


/* -- Contact Page Styles -- */

.contact-row {
    padding: 120px 0;
}

.contact-row .column:nth-child(1) {
    max-width: 570px;
    margin-right: auto;
}

.contact-row .column:nth-child(2) {
    max-width: 530px;
    margin-left: auto;
}

.contact-row .column-content {
    background: #000000;
    padding: 115px 55px 140px;
    margin-top: -210px;
}

.contact-heading {
    font-size: 48px;
    color: #ffffff;
}

.contact-row .column:nth-child(2) .contact-heading {
    color: #222222;
    margin-bottom: 32px;
}

h3.contact-heading {
    font-size: 24px;
}

.contact-row address {
    margin: 68px 0 0;
}

.contact-row .column-content p {
    margin-bottom: 10px;
}

.contact-row .column-content p:last-child {
    margin: 0;
}

.contact-row form p {
    margin-bottom: 30px;
}

.contact-row form input {
    height: 62px;
    padding: 10px 20px;
}

.contact-row form input[type="submit"] {
    width: 100%;
    height: 55px;
}

.contact-row .menu-social-menu-container {
    padding: 0;
    margin-top: 22px;
}

.contact-row #social-menu {
    margin: 0;
}

.contact-row .menu-social-menu-container li a {
    color: #ffffff;
}


/* -- About Us Page Styles -- */

.page-template-page-about p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.section_about_one {
    padding: 0 0 30px;
}

.section_about_one .row {
    margin-top: -90px;
}

.section_about_one .content {
    background: #ffffff;
    outline: 1px solid #eeeeee;
    outline-offset: -10px;
    padding: 60px 52px;
    text-align: center;
    transition: .3s;
}

.section_about_one .content:hover {
    outline: 2px solid #0038E3;
    transform: translateY(-5px);
    box-shadow: 0 2px 30px rgba(0, 0, 0, .1);
}

.section_about_one i {
    font-size: 48px;
    margin-bottom: 38px;
}

section .sub_heading {
    font-size: 18px;
    margin-bottom: 16px;
}


/* -- About Section Two -- */

.section_about_two {
    padding: 100px 0 150px;
}

.section_about_two .section_title,
.section_about_three .section_title,
.section_about_four .section_title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;
}

.section_about_two figure,
.section_about_three figure {
    max-width: 520px;
    margin-right: auto;
}

.section_about_two .col-right {
    margin: auto 0;
}

.section_about_two .column-content {
    max-width: 520px;
    margin: 0 0 62px auto;
}

.section_about_two .column-content:last-child {
    margin-bottom: 0;
}

.section_about_two .sub_heading {
    margin-bottom: 26px;
}


/* -- About Section Threee -- */

.section_about_three {
    background: #f1f1f1;
}

.section_about_three .section_title {
    text-align: left;
    margin-bottom: 56px;
}

.section_about_three .column-content {
    position: relative;
    padding: 0 0 0 40px;
    margin-bottom: 28px;
}

.section_about_three .column-content:last-child {
    margin-bottom: 0;
}

.section_about_three .sub_heading:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f067";
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 5px;
}

.section_about_three .active .sub_heading:before {
    content: "\f068";
}

.section_about_three .column-content.active:before,
.section_about_three .active .sub_heading {
    color: #0038E3;
}

.section_about_three .sub_heading {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.section_about_three .column-content .paragraph {
    display: none;
    padding: 16px 0 0;
    animation: fade .3s ease-in-out;
}

.section_about_three .column-content.active .paragraph {
    display: block;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* -- About Section Four -- */

.section_about_four .section_title {
    text-align: left;
    margin-bottom: 72px;
}

.section_about_four .col-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
}

.section_about_four .col-row span {
    width: 10%;
}

.section_about_four .col-row span i {
    font-size: 26px;
    color: #0038E3;
    margin-top: 6px;
}

.section_about_four .col-row .col-content {
    width: 90%;
    padding-left: 20px;
}

.section_about_four .col-right {
    margin: auto 0;
}

.section_about_four figure img {
    display: block;
    margin-left: auto;
}


/* -- Side Bar Styles -- */

#sidebar section {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0;
    margin-bottom: 52px;
}

#sidebar section:last-child {
    margin: 0;
}

.sidebar-content {
    background: #ffffff;
    padding: 50px 30px;
    max-width: 350px;
    margin-left: auto;
    border: 1px solid #eeeeee;
}


/* -- Sidebar Widget Styles -- */

.widget-title {
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
}

.widget li {
    margin-bottom: 15px;
}

.widget li:last-child {
    margin: 0;
}

.widget li,
.widget li a {
    font-size: 14px;
    color: #999999;
    font-weight: 500;
}

.widget p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.widget .post-date,
.widget .comment-author-link {
    font-size: 14px;
    font-weight: 700;
    color: #4d74eb;
    display: block;
    margin-top: 7px;
}

.widget .comment-author-link {
    margin: 0 0 7px;
    text-transform: capitalize;
}

.widget form .screen-reader-text {
    display: none;
}

.widget input {
    padding: 18px;
}

.widget input[type="submit"],
.widget .tnp-field input[type="submit"] {
    padding: 10px;
    height: 45px;
    width: 100%;
}

.widget .tagcloud a {
    font-size: 14px !important;
    color: #999999 !important;
    padding-right: 20px;
}

.widget .tagcloud span {
    font-size: 12px;
    margin-left: 3px;
}


/* -- Widget Social Icons -- */

.menu-social-menu-container li {
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
}

.menu-social-menu-container li:first-child {
    padding-left: 0;
}

.menu-social-menu-container li a {
    font-size: 0;
    color: #4d74eb;
    transition: .3s;
    padding: 0;
}

.menu-social-menu-container li a:hover,
#footer .menu-social-menu-container li a:hover {
    color: #fc660a;
}

.menu-social-menu-container li a[href]:before {
    font-family: 'Font Awesome 5 Brands';
    content: "";
    font-size: 18px;
    font-weight: 900;
}

.menu-social-menu-container li a[href*="facebook.com"]:before {
    content: "\f39e";
}

.menu-social-menu-container li a[href*="twitter.com"]:before {
    content: "\f099";
}

.menu-social-menu-container li a[href*="instagram.com"]:before {
    content: "\f16d";
}

.menu-social-menu-container li a[href*="youtube.com"]:before {
    content: "\f167";
}

.menu-social-menu-container li a[href*="linkedin.com"]:before {
    content: "\f0e1";
}

.menu-social-menu-container li a[href*="google.com"]:before {
    content: "\f0d5";
}

.menu-social-menu-container li a[href*="tumblr.com"]:before {
    content: "\f173";
}

.menu-social-menu-container li a[href*="pinterest.com"]:before {
    content: "\f231";
}


/* -- Footer Styles -- */

#footer {
    background: #000000;
    color: #ffffff;
    padding: 100px 0;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    color: #ffffff;
}

#footer h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    letter-spacing: .5px;
}

.site-footer p {
    margin: 0;
}


/* -- Footer Widget Styles -- */

#footer .widget {
    margin-bottom: 32px;
}

#footer .widget:last-child {
    margin-bottom: 0;
}

#footer li a {
    font-size: 16px;
    color: #888888;
}

#footer .menu-social-menu-container li a {
    font-size: 0;
    color: #ffffff;
}

#footer .nav-link {
    padding: 0;
}

#footer .widget-title {
    margin-bottom: 30px;
    border-color: #000000;
}

#footer #colophon {
    border-top: 1px solid rgba(255, 255, 255, .15);
    margin-top: 42px;
    padding-top: 15px;
}


/* -- to the top css -- */

.up-btn {
    position: fixed;
    visibility: hidden;
    bottom: 15px;
    right: 15px;
    outline: none;
    background: rgba(0, 0, 0, .3);
    padding: 0px;
    width: 32px;
    height: 34px;
    transition: 0.5s;
    border-radius: 0;
    border: 1px solid #ffffff;
    outline: none !important;
    transition: all .3s;
    transform: translate3d(100px, 0, 0);
    z-index: 9;
}

.up-btn.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

#up-btn:hover {
    background: #0038E3;
    border: 1px solid #0038E3;
}

.up-btn:focus {
    border-color: #ffffff;
}

#up-btn i {
    font-size: 13px;
    transition: .5s;
    color: #ffffff;
}

.up-btn.ayotothetop {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}


/* -- Error404 Hfeed Styles -- */

.error404 section,
.search section,
.error404 .page-header {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    text-align: center;
}

.error404 section .widget {
    margin-top: 50px;
}

.error404 section ul {
    padding-left: 18px;
}

.error404 section li {
    margin-bottom: 10px;
    list-style-type: disc;
}

.error404 section p,
.error404 section li a,
.search section p {
    font-size: 14px;
    color: #999999;
    font-weight: 500;
    margin-bottom: 25px;
}

.error404 section .screen-reader-text,
.search section .screen-reader-text {
    margin-bottom: 7px;
    display: block;
}

.error404 .page-content,
.search-no-results .page-content {
    text-align: left;
    max-width: 740px;
    margin: 0 auto;
    padding: 32px 0;
}

.error404 header.site-header,
.search-no-results header.site-header {
    height: unset !important;
}

.search-no-results .no-results {
    padding-top: 45px;
}


/* -- Column Effects Jquery Styles -- */

section .column,
.section_title,
.section_three .content,
section .row figure,
section .col-row,
.contact-heading,
.column-content address p,
.column-content .social-menu,
.section_about_three .column-content,
.section_about_two .column-content {
    opacity: 0;
    transform: translateY(30px);
    transition: all .35s linear;
}

section .row figure,
.column-content address p,
.column-content .social-menu,
.section_about_three .column-content,
.section_about_two .column-content {
    transform: translateY(50px);
}

section .column.view,
.section_title.view,
.section_three .content.view,
section .row figure.view,
section .col-row.view,
.contact-heading.view,
.column-content address p.view,
.column-content .social-menu.view,
.section_about_three .column-content.view,
.section_about_two .column-content.view {
    opacity: 1;
    transform: translateY(0px);
}


/* -- All Keyframe Animations -- */

@keyframes navs {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}