@import "dropdown.css";
@import "image-slider.css";

/* -- theme body style -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-word;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}


/* -- all basic styles -- */

.container {
    max-width: 1200px;
}

a {
    color: rgba(255, 104, 10, 0.7);
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #fc660a;
}

p {
    color: #333333;
}

hr {
    margin: 20px 0;
}

figure,
img,
iframe {
    max-width: 100%;
    width: auto;
    object-fit: cover;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

label {
    font-size: 14px;
    font-weight: 700;
    color: #353638;
    display: block;
    opacity: .7;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-size: 15px;
    color: #777777;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    background: rgba(255, 104, 10, 0.7);
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover {
    background: #fc660a;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}

blockquote {
    padding-left: 50px;
    position: relative;
    margin: 35px 0;
}

blockquote:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    margin-top: 25px;
    background: rgba(255, 104, 10, 0.6);
}

blockquote p {
    font-weight: 700 !important;
    color: #ff680a !important;
    margin: 0 !important;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}

.btn,
.sec_btn {
    font-size: 14px;
    font-weight: 700;
    background: #0038E3;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #0038E3;
    padding: 18px 34px;
    display: inline-block;
    transition: .3s;
}

.btn,
.sec_btn:hover {
    background: #ffffff;
    color: #222222;
    border-color: #ffffff;
}


/* -- heading styles -- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 20px;
    color: #222222;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 17px;
}


/* -- Navigation Styles -- */

.main-navigation {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    padding: 15px 0;
}

.main-navigation.fixed {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    animation: navs .9s;
}

.main-navigation .container {
    max-width: 1730px;
}

.main-navigation .top-navigation {
    padding: 0;
}

.site-title {
    line-height: 1;
    margin: 0;
}

.site-title a {
    font-size: 44px;
    color: #ffffff;
}

.site-title strong {
    display: inline-block;
}

.site-title span {
    font-weight: 700;
    color: #0038E3;
    display: inline-block;
}

.site-description {
    font-size: 12px;
    font-style: italic;
    color: #ffffff;
    margin: 0;
}

#navbarmenus div {
    margin: auto 0 auto auto;
}

.navbar-expand-lg .menu-item {
    margin: 0 15px;
    position: relative;
}

.navbar-expand-lg .menu-item:last-child {
    margin-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.navbar-expand-lg .navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform: scale3d(0, 0, 0);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1) 0s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:after {
    transform: scale3d(1, 1, 1);
}


/* -- Section Styles -- */

section {
    padding: 100px 0;
}

.section_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    position: relative;
    line-height: 1.5;
}

section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

section p {
    font-size: 15px;
    font-weight: 600;
    color: #999999;
    line-height: 1.5;
    margin: 0;
}


/* -- Section One Styles -- */

.section_one {
    text-align: center;
}

.section_one .section_title:before,
.section_one .section_title:after {
    content: '';
    height: 60px;
    width: 60px;
    background: #eeeeee;
    position: absolute;
    top: -25px;
    right: 50%;
    z-index: -1;
}

.section_one .section_title:after {
    height: 30px;
    width: 30px;
    top: unset;
    bottom: -10px;
    right: 48%;
}

.section_one .row {
    margin-top: 72px;
}

.section_one .column {
    margin-bottom: 30px;
}

.section_one .content {
    padding: 0 20px;
}


/* Section Two Styles -- */

.section_two {
    background-image: url("../../assets/images/section_two_bg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 100px 0 40px;
}

.section_two .container {
    max-width: 1920px;
}

.section_two .content-wrap,
.section_two figure {
    width: 50%;
    padding: 0 15px;
    margin: auto 0;
}

.section_two .content {
    max-width: 570px;
    margin-left: auto;
}

.section_two .section_title {
    margin-bottom: 80px;
}

.section_two h4 {
    margin-bottom: 21px;
}

.section_two .column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.section_two .column:last-child {
    margin: 0;
}

.section_two i {
    width: 10%;
    font-size: 36px;
    color: #0038E3;
    padding-right: 10px;
}

.section_two .column-content {
    width: 90%;
    max-width: 450px;
    padding-left: 10px;
}

.section_two figure {
    text-align: center;
}


/* -- Section Three Styles -- */

.section_three {
    background: #0038E3;
    z-index: 9;
}

.section_three .content {
    display: flex;
    flex-wrap: wrap;
}

.section_three h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin: auto auto auto 0;
}

.section_three .sec_btn {
    color: #222222;
    background: #ffffff;
    border-color: #ffffff;
}

.section_three .sec_btn:hover {
    transform: translateY(-10px);
}


/* -- Section Four Styles -- */

.section_four {
    text-align: center;
    background: #f5f5f5;
    position: relative;
    z-index: 9;
}

.section_four:before {
    content: '';
    height: 40px;
    width: 40px;
    background: #0038E3;
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    right: 50%;
    z-index: -8;
}

.section_four .row {
    margin-top: 48px;
}

.section_four .section_title span {
    font-size: 14px;
    font-weight: 700;
    color: #0038E3;
    text-transform: uppercase;
    display: block;
    margin-bottom: 32px;
}

.section_four .column {
    margin-bottom: 30px;
}

.section_four .content {
    background: #ffffff;
    padding: 50px 40px;
    text-align: left;
}

.section_four p {
    font-size: 15px;
    line-height: 1.6;
}

.section_four cite {
    font-style: normal;
    display: block;
    margin-top: 20px;
}

.section_four cite h4 {
    margin-bottom: 0;
}

.section_four cite span {
    font-size: 15px;
    font-weight: 600;
    color: #999999;
}


/* -- Footer Styles -- */

#footer {
    background: #000000;
    color: #ffffff;
    padding: 100px 0;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    color: #ffffff;
}

#footer h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    letter-spacing: .5px;
}

.site-footer p {
    margin: 0;
}


/* -- Navbar Social Icons -- */

#social-menu {
    margin: 0;
}

#social-menu li {
    display: inline-block;
    margin: 0 32px 0 0;
    text-align: center;
}

#social-menu li:last-child {
    margin: 0;
}

#social-menu li a {
    font-size: 0;
    color: #ffffff;
    transition: .3s;
}

#social-menu li a[href]:before {
    font-family: 'Font Awesome 5 Brands';
    content: "";
    font-size: 18px;
    font-weight: 900;
}

#social-menu li a[href*="facebook.com"]:before {
    content: "\f39e";
}

#social-menu li a[href*="twitter.com"]:before {
    content: "\f099";
}

#social-menu li a[href*="instagram.com"]:before {
    content: "\f16d";
}

#social-menu li a[href*="youtube.com"]:before {
    content: "\f167";
}

#social-menu li a[href*="linkedin.com"]:before {
    content: "\f0e1";
}

#social-menu li a[href*="google.com"]:before {
    content: "\f0d5";
}

#social-menu li a[href*="tumblr.com"]:before {
    content: "\f173";
}

#social-menu li a[href*="pinterest.com"]:before {
    content: "\f231";
}


/* -- to the top css -- */

.up-btn {
    position: fixed;
    visibility: hidden;
    bottom: 15px;
    right: 15px;
    outline: none;
    background: rgba(0, 0, 0, .3);
    padding: 0px;
    width: 32px;
    height: 34px;
    transition: 0.5s;
    border-radius: 0;
    border: 1px solid #ffffff;
    outline: none !important;
    transition: all .3s;
    transform: translate3d(100px, 0, 0);
    z-index: 9;
}

.up-btn.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

#up-btn:hover {
    background: rgba(255, 104, 10, 0.7);
    border: 1px solid rgba(255, 104, 10, 0.7);
    border-right: none;
}

.up-btn:focus {
    border-color: #ffffff;
}

#up-btn i {
    font-size: 13px;
    transition: .5s;
    color: #ffffff;
}

.up-btn.ayotothetop {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}


/* -- All Keyframe Animations -- */

@keyframes navs {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}