/* -- Media Screens Styles -- */

@media (max-width: 1200px) {
    section {
        padding: 70px 0;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 800px;
    }
    .main-navigation .container,
    .page-template-page-about .container {
        max-width: 1200px;
    }
    .main-navigation,
    .home.blog .main-navigation {
        padding: 15px 0;
    }
    .section_title {
        line-height: 1.3;
    }
    .section_two .section_title {
        margin-bottom: 42px;
    }
    .page-content {
        padding: 50px 0;
    }
    .page-content .header-title {
        font-size: 48px;
    }
    .blog-content {
        padding: 25px;
    }
    .sidebar-content {
        margin: unset;
        max-width: 100%;
        margin-top: 52px;
    }
    .page-template header.site-header,
    .page-template-default header.site-header {
        height: 400px !important;
    }
    .home.page-template header.site-header {
        height: auto !important;
    }
    .contact-row .column-content {
        padding: 50px;
    }
    .section_about_one .content {
        padding: 32px 25px;
    }
    .section_about_two {
        padding: 60px 0 100px;
    }
}

@media (max-width: 767px) {
    .site-title a {
        font-size: 24px;
    }
    .section_title {
        line-height: 1.3;
    }
    .section_one .section_title:after {
        right: 0;
    }
    .section_two {
        background-size: contain;
    }
    .section_two .content-wrap {
        width: 100%;
    }
    .section_two figure {
        display: none;
    }
    .section_two .content {
        max-width: 100%;
    }
    .section_title span {
        margin-bottom: 16px;
    }
    .blog-content {
        padding: 50px 40px;
    }
    .post-navigation .nav-previous,
    .post-navigation .nav-next {
        width: 100%;
        max-width: 360px;
        margin: 0 auto 15px;
    }
    .contact-row {
        padding-bottom: 32px;
    }
    .contact-row .column:nth-child(1) {
        margin: 0 auto 45px;
    }
    .contact-row .column:nth-child(2) {
        margin: 0 auto;
        max-width: 570px;
    }
    .section_about_one .content {
        max-width: 370px;
        margin: 0 auto 25px;
    }
    .section_about_two figure,
    .section_about_three figure {
        margin: 0 auto;
    }
    .section_about_two .column-content,
    .section_about_three .content-wrap,
    .section_about_four .content-wrap {
        max-width: 520px;
        margin: 32px auto auto;
    }
    .section_about_four {
        position: relative;
    }
    .section_about_four:before {
        content: '';
        background: rgba(255, 255, 255, .7);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .section_about_four .col-right {
        position: absolute;
        bottom: 70px;
        right: 15px;
        left: 15px;
        width: auto;
        z-index: -9;
    }
    #footer {
        padding: 52px 0 32px;
    }
}

@media (max-width: 576px) {
    blockquote {
        margin: 18px 0;
    }
    section {
        padding: 32px 0;
    }
    .section_one {
        padding-top: 70px;
    }
    .section_two {
        background-size: cover;
        padding: 22px 0 40px;
    }
    .section_two .column-content {
        width: 100%;
        max-width: 100%;
        padding: 10px 0 0;
    }
    .section_three .sec_btn {
        padding: 14px 20px;
    }
    .section_four:before {
        top: -30px;
        right: unset;
        left: 20px;
    }
    .blog-content {
        padding: 25px;
    }
    #comments .comments-area {
        padding: 15px;
    }
    .comment-author .comment-metadata {
        width: 100%;
        padding: 15px 0 0;
    }
    .comment-list .comment .children {
        padding-left: 15px;
    }
    .contact-row address {
        margin-top: 52px;
    }
    .page-template-page-about .page-content .header-title {
        font-size: 38px;
    }
    #footer .widget-title {
        margin-bottom: 12px;
    }
}

@media (max-width: 340px) {
    .section_four .content {
        padding: 34px 30px;
    }
    .blog-content {
        padding: 15px;
    }
    .blog-content .entry-title {
        font-size: 24px;
    }
    .contact-row .column-content {
        padding: 25px;
    }
}